<!doctype html>
<html lang="vi">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        #data{
            max-width: 100%;
            overflow: auto;
        }
    </style>
  </head>
  <body>
    <center><h4><%= TenUuDai%></h4></center>
    <p>
      <strong>Thời gian áp dụng: </strong>
      Từ ngày <%= BatDau%> đến ngày <%= KetThuc%>
    </p>
    <div id="data"><%= NoiDung%></div>
    <script>
        var s=document.getElementById("data");
        s.innerHTML = '<strong>Nội dung: </strong> <br/>'+s.textContent;
    </script>
  </body>
</html>